[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-vscode"]
	path = dotbot-vscode
	url = https://github.com/jamesstidard/dotbot-vscode
[submodule "dotbot-asdf"]
	path = dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "dotbot_plugin_aptget"]
	path = dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
