Host jeff
 HostName 10.0.0.100
 User super

Host tam
 HostName 10.0.0.101
 User wave-venture

Host pi
 HostName 10.1.0.200
 User pi

Host node*
 # take node* value, remove node, zero-pad number to 10.1.2XX format
 ProxyCommand nc 10.1.0.2(echo %h | sed 's/^node//' | xargs printf "%%02d") %p
 User node

Host *
 AddKeysToAgent yes
 UseKeychain yes
 IdentityFile ~/.ssh/id_rsa
