Host *
 AddKeysToAgent yes
 UseKeychain yes
 IdentityFile ~/.ssh/id_rsa

Host jeff
 HostName jeff
 User super

Host jeff
 HostName jeff
 User super
 ForwardAgent yes

Host jeff
 HostName jeff
 User super

Host 10.0.0.100
 HostName 10.0.0.100
 User super

Host 10.0.0.208
 HostName 10.0.0.208
 ForwardAgent yes

Host 10.0.0.208
 HostName 10.0.0.208
 User node8
 ForwardAgent yes

Host 10.1.0.200
 HostName 10.1.0.200
 User pi
 ForwardAgent yes
